# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# CMake
cmake-build-*/
build/
out/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
install_manifest.txt

# Compiled Object files
*.o
*.obj
*.lo

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib
*.lai
*.la

# Executables
*.exe
*.out
*.app

# System files
.DS_Store
Thumbs.db